/* skills */
.skills {
    width: 99vw;
    margin-top: 2rem;
}

.containerSkills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills .contentSkills {
    width: 99vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.skills .icon {
    padding: 2rem;
    position: relative;
    text-align: center;
}

.skills img {
    border-radius: 50%;
    width: 7.3rem;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;

}


.skills .icon::after {
    content: "";
    position: absolute;
    z-index: 1;
    border: 4px dotted #00bfff;
    width: 7.3rem;
    height: 7.3rem;
    top: 1.8rem;
    bottom: 0;
    right: 0rem;
    left: 1.75rem;
    border-radius: 50%;
    animation: rotate 10s infinite linear;
    text-align: center;

}

.skills svg {
    z-index: 2;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 600px) {
    .skills img {
        width: 5.3rem;
    }

    .skills .icon::after {
        width: 5.3rem;
        height: 5.3rem;
    }

    .mui,
    .mongo,
    .bootstrap {
        font-size: .9rem;
    }

    .js {
        font-size: .85rem;
    }
}

@media screen and (max-width: 489px) {
    .skills img {
        width: 4.3rem;
    }

    .icon {
        padding: 1rem;
        font-size: .8rem;
    }

    .skills .icon::after {
        width: 4.3rem;
        height: 4.3rem;
    }

    .mui,
    .mongo,
    .bootstrap,
    .react {
        font-size: .7rem;
    }

    .js {
        font-size: .73rem;
    }
}

@media screen and (min-width: 900px) {
    .skills .contentSkills {
        width: 850px;
    }
}