@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

br {
  margin-top: 20%;
}

body {
  color: #fff;
  background-color: #111;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 5rem;
}

h1 span {
  color: #00bfff;
}

h3 {
  font-size: 3.2em;
  text-align: center;
  padding: 2% 0;
}

p {
  font-size: 1.2em;
  text-align: center;
}

.btn {
  padding: 8px 25px;
  margin: 16px 12px;
  font-size: 26px;
  background-color: transparent;
  color: var(--i);
  border: 3px solid var(--i);
  border-radius: 4px;
  cursor: pointer;
  pointer-events: all;
  transition: 0.3s;
  font-weight: 600;
}


/* home */
.home {
  width: 100%;
  min-height: 100vh;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  pointer-events: none;
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 40px;
  transition: all 0.3s ease-in-out;
  position: sticky;
  top: -1px;
  z-index: 10;
}

.nav.active {
  background-color: #333333;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  padding: 0 40px;

  margin: 0;

}

.nav ul {
  display: flex;
}

.nav ul li {
  position: relative;
  list-style: none;
  padding: 12px 18px;
  cursor: pointer;
  pointer-events: all;
  transform: 0.3s;
  overflow: hidden;
}

.nav ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 400;
  color: #fff;
}

.home .homeText {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
  text-align: center;
  pointer-events: none;
}

.nav ul li::after {
  content: "";
  position: absolute;
  bottom: 5px;
  width: 0%;
  height: 3px;
  left: 50%;
  background: #00bfff;
  transform: translateX(-50%);
  transition: 0.3s;
}

.nav li:hover {
  color: #00bfff;
}

.nav li:hover::after {
  width: 70%;
}

.btn:hover {
  background-color: var(--i);
  color: #000;
}

.bgAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: #1d1d1d;
  filter: saturate(2);
  overflow: hidden;
}

.bgAnimation .backgroundAnim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #00bfff;
  filter: blur(60px);
  animation: animBack 6s linear infinite;
}

.colorBox {
  z-index: 2;
  filter: brightness(1.1);
  transition: 2s ease;
  position: relative;
  margin: 2px;
  background: #1d1d1d;
}

.colorBox:hover {
  background: #00bfff;
  transition-duration: 0s;
}

@keyframes animBack {
  0% {
    top: -60px;
  }

  100% {
    top: 120%;
  }
}


/* about */
.aboutme {
  width: 100%;
  margin-top: 2%;
  min-height: 90vh;
}

.aboutme .aboutContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5% 0;
  /* background-color: rgb(76, 46, 9); */
}

.aboutPhoto {
  min-width: 378px;
  height: 450px;
  margin: 0 3%;
  /* background-color: #0066ff; */
  position: relative;
}

.aboutImg {
  border: 3px solid #fff;
  max-width: 375px;
  min-width: 375px;
  z-index: 3;
  opacity: 1;
  animation: photo-ani 4s forwards;
  position: absolute;
  bottom: 46px;
  left: 0;
  /* animation-delay: 5400ms; */
  /* animation-iteration-count:inherit; */
}

.aboutText {
  padding-bottom: 1.2%;
  min-width: 500px;
  text-align: center;
  /* background-color: #5f2e2e; */
}

.aboutPhoto-line {
  max-width: 379px;
  min-width: 379px;
  z-index: 2;
  position: relative;
  bottom: 56px;
}

.aboutme .aboutContainer .aboutText h4 {
  font-size: 35px;
  padding-bottom: 4%;
}

.aboutme .aboutContainer .aboutText p {
  width: 500px;
  letter-spacing: 1px;
  padding-bottom: 4%;
}

.btns {
  display: flex;
  justify-content: space-around;
}

.line {
  fill: none;
  stroke: #fff;
  stroke-width: 1px;
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: line-ani 5.5s forwards;
  /* animation-delay: 5400ms ; */
  animation-iteration-count: infinite;
}

.border {
  stroke-width: 3px;
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: line-ani 3s forwards;
  /* animation-delay: 5400ms ; */
  /* animation-iteration-count: infinite; */
}

@keyframes line-ani {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes photo-ani {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/* skills */
.skills {
  width: 100%;
  /* min-height: 100vh; */
  margin-top: 2%;

}

.containerSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4%;
}

.skills .contentSkills {
  display: flex;
  justify-content: space-around;
  text-align: center;
  /* background-color: #ecf0f3; */
  padding: 2rem;
}

.skills .icon {
  padding: 2rem;
  width: 150px;
  height: 150px;
  /* background-color: rgb(85, 52, 52); */
  position: relative;
}



.skills img {
  /* border: 4px dotted #00bfff; */
  border-radius: 50%;
  width: 90px;
  height: 90px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  /* animation: rotate 10s infinite linear; */
}


.skills .icon::after {
  content: "";
  /* background-color: #070707; */
  position: absolute;
  z-index: 1;
  border: 4px dotted #00bfff;
  width: 90px;
  height: 90px;
  top: 1.8rem;
  bottom: 0;
  right: 0rem;
  left: 3.65rem;
  border-radius: 50%;
  animation: rotate 10s infinite linear;
}

.skills svg {
  z-index: 2;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* projects */


.projects {
  width: 100%;
  margin: 3% 0;
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;

}

.projectCard {
  margin: 1% 3%;
  max-width: 400px;
  /* margin-bottom: 1%; */
}

.projectContent {
  background-color: #1d1d1d;
  display: inline-block;
  height: 250px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.projectImg {
  max-width: 400px;
  height: 250px;

}

.projectContent h4 {
  background-color: #1d1d1d;
  border: 2px solid #00bfff;
  color: #00bfff;
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0;
  padding: 10px 20px;
}

.projectP {
  text-align: center;
  /* height: 150px; */
}

.projectContent::before,
.projectContent::after {
  content: "";
  background-color: #070707;
  border-left: 3px solid #00bfff;
  border-right: 3px solid #00bfff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.35s ease;
  opacity: 0.9;
  z-index: 1;
}

.projectContent::before {
  transform: skew(45deg) translateX(-155%);
}

.projectContent::after {
  transform: skew(45deg) translateX(155%);
}

.projectContent .projectImg {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 550px;
  height: 300px;
  display: block;
}

.projectContent figcaption {
  position: absolute;
  top: 35%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
  box-shadow: 0 0 10px #1d1d1d;
}

.projectContent a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.projectContent:hover .projectImg {
  opacity: 0.5;
}

.projectContent:hover::before,
.projectContent.hover::before {
  transform: skew(45deg) translateX(-55%);
}

.projectContent:hover::after,
.projectContent.hover::after {
  transform: skew(45deg) translateX(55%);
}

.projectContent:hover figcaption,
.projectContent.hover figcaption {
  transform: translate(-50%, 50%) scale(1);
  opacity: 1;
}


/* contact */

.contactBg {
  position: absolute;
  z-index: -1;
  width: 100%;
  margin-bottom: 10%;
  border-top: 1px solid #00bfff;
}

#Capa_1 {
  min-height: 91vh;
  max-width: 100%;
}

#line1 {
  stroke: #0066ff;
  stroke-dasharray: 100;
  stroke-dashoffset: 1000;
  animation: dash 3s linear;
  stroke-miterlimit: 10;
  animation-iteration-count: infinite;
}

#line2 {
  stroke: #00bfff;
  stroke-dasharray: 200;
  stroke-dashoffset: 800;
  stroke-width: 2px;
  animation: dash 6s linear;
  stroke-miterlimit: 10;
  animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

.contactData {
  position: absolute;
  z-index: 2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.contactH3 {
  padding-top: 2%;
  margin-bottom: 2.5%;
}

.media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  transition: 1.25s;
}

.media .mediaCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  background-color: #0066ff;
  width: 260px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 25px;
  text-align: center;
  border: 1px solid transparent;
}

.media .mediaCard:hover {
  background-color: transparent;
  border-color: #00c8ff;
}

i {
  font-size: 35px;
}

.mediaText {
  padding: .3rem;
  font-weight: 800;
  font-size: 1.2rem;
}

.mediaTextP {
  font-size: .9rem;
  color: #dfdfdf;
}

.mediaCard a {
  padding: .5rem;
  text-decoration: none;
  color: #00bfff;
}

.message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  transition: 1.25s;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.form input:first-of-type {
  margin-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

.form_input {
  width: 350px;
  margin: 4px 0;
  padding-left: 25px;
  font-size: 13px;
  letter-spacing: 0.15px;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  background-color: #ecf0f3;
  transition: 0.25s ease;
  border-radius: 8px;
  box-shadow: inset 2px 2px 4px #d1d9e6, inset -2px -2px 4px #f9f9f9;
}

.form_input:focus {
  box-shadow: inset 4px 4px 4px #d1d9e6, inset -4px -4px 4px #f9f9f9;
}

input {
  height: 40px;
}

textarea {
  font-size: 19px;
  padding-top: 15px;
  height: 150px;
}

.btn-message {
  padding-bottom: 2.4rem;
}